body { background-color: #e1e7eb;
    font-family: Arial, Verdana, sans-serif; }

h1 { background-color: #99a3a8;
    text-align: center;
    font-family: Georgia, "Times New Roman", serif; }

h2 { background-color: #99a3a8;
    font-family: Georgia, "Times New Roman", serif; }

h3 { background-color: #99a3a8;
    font-family: Georgia, "Times New Roman", serif; }

#banner { width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: cover; }

footer { font-style: italic; font-size: .80em;
    text-align:center; padding: 0.5em;}

#bar { background-color: #ffffff; }

fieldset { width: 320px;
    border: 0px ridge #3F2860;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center; }

legend { font-family: Georgia, "Times New Roman", serif;
      font-weight: bold; }

label { font-family: Arial, sans-serif; }

.form-container {display: flex;
               align-items: center;
               justify-content: center; }